<!-- Boat's "profile" page -->

<h1><%= @boat.name %></h1>
<p>Max containers: <%= @boat.max_containers %></p>
<p>Current location: <%= @boat.location %></p>
<%= link_to "Edit Boat", edit_boat_path(@boat) %>